:root {
  --base03:  #002b36; /* base03 */
  --base02:  #073642; /* base02 */
  --base01:  #586e75; /* base01 */
  --base00:  #657b83; /* base00 */
  --base0:   #839496; /* base0 */
  --base1:   #93a1a1; /* base1 */
  --base2:   #eee8d5; /* base2 */
  --base3:   #fdf6e3; /* base3 */
  --yellow:  #b58900; /* yellow */
  --orange:  #cb4b16; /* orange */
  --red:     #dc322f; /* red */
  --magenta: #d33682; /* magenta */
  --violet:  #6c71c4; /* violet */
  --blue:    #268bd2; /* blue */
  --cyan:    #2aa198; /* cyan */
  --green:   #859900; /* green */
}

pre code {
  color: #073642; /* base02 */
}

.token.function {
  color: #268bd2; /* blue */
  font-style: italic;
}

.token.operator {
  color: #cb4b16; /* orange */
}

.token.number {
  color: #d33682; /* magenta */
}

.token.string {
  color: #b58900; /* yellow */
}

.token.interpolation .token.interpolation-punctuation.punctuation {
  color: #dc322f; /* red */
}

.token.class-name {
  color: #859900; /* green */
}

.token.keyword {
  color: #002b36; /* base03 */
  font-weight: bold;
}

.token.punctuation {
  color: #657b83; /* base00 */
}

.token.comment {
  color: #93a1a1; /* base1 */
}
